
<p class="country-title"><img class="country-flag" src="{{flags.png}}" alt="{{name.official}}">{{name.official}}</p>
<p class="country-desc"><span><b>Capital: </b></span>{{capital}}</p>
<p class="country-desc"><span><b>Population: </b></span>{{population}}</p>
<p class="country-desc"><span><b>Languages: </b></span>{{languages}}</p>