
<p class="country-title"><img class="country-flag" src="{{this.flags.png}}" alt="{{this.name.official}}">{{this.name.official}}</p>
<p class="country-desc"><span><b>Capital: </b></span>{{this.capital}}</p>
<p class="country-desc"><span><b>Population: </b></span>{{this.population}}</p>
<p class="country-desc"><span><b>Languages: </b></span>{{this.languages}}</p>